<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.UserMapper">
    <resultMap id="BaseResultMap" type="cn.zclong.mybatis.dataobject.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="effective_from" jdbcType="TIMESTAMP" property="effectiveFrom"/>
        <result column="effective_to" jdbcType="TIMESTAMP" property="effectiveTo"/>
        <result column="own_sign" jdbcType="VARCHAR" property="ownSign"/>
        <result column="region_sign" jdbcType="VARCHAR" property="regionSign"/>
        <result column="is_delete" jdbcType="CHAR" property="isDelete"/>
        <result column="db_remark" jdbcType="VARCHAR" property="dbRemark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, `name`, `password`, effective_from, effective_to, own_sign,
        region_sign, is_delete, db_remark
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.zclong.mybatis.dataobject.User"
            useGeneratedKeys="true">
        insert into user (gmt_create,
                          gmt_modified,
                          `name`,
                          `password`,
                          effective_from,
                          effective_to,
                          own_sign,
                          region_sign,
                          is_delete,
                          db_remark)
        values (#{gmtCreate,jdbcType=TIMESTAMP},
                #{gmtModified,jdbcType=TIMESTAMP},
                #{name,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR},
                #{effectiveFrom,jdbcType=TIMESTAMP},
                #{effectiveTo,jdbcType=TIMESTAMP},
                #{ownSign,jdbcType=VARCHAR},
                #{regionSign,jdbcType=VARCHAR},
                #{isDelete,jdbcType=CHAR},
                #{dbRemark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.zclong.mybatis.dataobject.User"
            useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="effectiveFrom != null">
                effective_from,
            </if>
            <if test="effectiveTo != null">
                effective_to,
            </if>
            <if test="ownSign != null">
                own_sign,
            </if>
            <if test="regionSign != null">
                region_sign,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="dbRemark != null">
                db_remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="effectiveFrom != null">
                #{effectiveFrom,jdbcType=TIMESTAMP},
            </if>
            <if test="effectiveTo != null">
                #{effectiveTo,jdbcType=TIMESTAMP},
            </if>
            <if test="ownSign != null">
                #{ownSign,jdbcType=VARCHAR},
            </if>
            <if test="regionSign != null">
                #{regionSign,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=CHAR},
            </if>
            <if test="dbRemark != null">
                #{dbRemark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.zclong.mybatis.dataobject.User">
        update user
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="effectiveFrom != null">
                effective_from = #{effectiveFrom,jdbcType=TIMESTAMP},
            </if>
            <if test="effectiveTo != null">
                effective_to = #{effectiveTo,jdbcType=TIMESTAMP},
            </if>
            <if test="ownSign != null">
                own_sign = #{ownSign,jdbcType=VARCHAR},
            </if>
            <if test="regionSign != null">
                region_sign = #{regionSign,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=CHAR},
            </if>
            <if test="dbRemark != null">
                db_remark = #{dbRemark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.zclong.mybatis.dataobject.User">
        update user
        set gmt_create     = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified   = #{gmtModified,jdbcType=TIMESTAMP},
            `name`         = #{name,jdbcType=VARCHAR},
            `password`     = #{password,jdbcType=VARCHAR},
            effective_from = #{effectiveFrom,jdbcType=TIMESTAMP},
            effective_to   = #{effectiveTo,jdbcType=TIMESTAMP},
            own_sign       = #{ownSign,jdbcType=VARCHAR},
            region_sign    = #{regionSign,jdbcType=VARCHAR},
            is_delete      = #{isDelete,jdbcType=CHAR},
            db_remark      = #{dbRemark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>